{% extends "base.html" %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'wiki/style.css' %}">
    
  <h1>
    For Approval
  </h1>
  <br><br>

  {% if archives|length == 0 %}
  <p>
    Nothing to Approve.
  </p>
  {% endif %}

  {% for archive in archives %}
  <div class="alert alert-warning d-flex align-items-center justify-content-between" role="alert">
    <div>
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      {{ archive.status }} {{ archive.title }} 
    </div>
    
    {% if current_user.id != archive.created_by %}
      <button type="button" class="btn btn-primary">Review</button>
    {% endif %}
  </div>
  {% endfor %}
  
{% endblock %}