{% extends "base.html" %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'wiki/style.css' %}">

	<h1>{{ archive.status }} {{ archive.title }}</h1>
	<br><br>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>
					Before
				</h2>
				<br>
				<h4>
					{{ wiki.title }}
				</h4>
				<p>
					{{ wiki.content }}
				</p>
			</div>
			<div class="col-md-6">
				<h2>
					After
				</h2>
				<br>
				<h4>
					{{ archive.title }}
				</h4>
				<p>
					{{ archive.content }}
				</p>
			</div>
		</div>
	</div>
{% endblock %}
