{% extends "base.html" %}

{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'wiki/style.css' %}">
    <h1>
        <a class="header-link"  href="{% url 'wiki home' %}">
            <i class="bi bi-newspaper"></i>
            Wiki
        </a>
    </h1>
    <br><br>

    <div class="text-bg-light p-3">
        <a href="{% url 'wiki folder' folder_id %}">
            Back
        </a>
    </div>
    <br><br>

    <form action="{% url 'wiki create' folder_id %}" method="post">
        {% csrf_token %}
        {{ formset|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}