{% extends "base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'wiki/style.css' %}">
    <h1>
        <a class="header-link" href="{% url 'wiki home' %}">
            <i class="bi bi-newspaper"></i>
            Wiki
        </a>
    </h1>

    <p>
        <figcaption class="blockquote-footer">
            In order to maintain better organization, it's recommended that we limit the number of items in each folder to ten. For instance, if there are more than ten items in a particular folder "folder or wiki", we should consider grouping them and moving them to a more appropriately categorized folder. This approach not only prevents over-organization but also encourages timely grouping of items, without waiting for them to accumulate beyond ten.
        </figcaption>
    </p>
    </br>
    <a class="btn btn-primary" href="{% url 'wiki create' %}" role="button">
        Create Wiki
    </a>
    </br>
    <div class="row">
        <div class="col-md-4">
            <form action="{% url 'wiki search' %}" method="get">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control" name="search" placeholder="Search" aria-label="Search">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
      <div class="col-md-8"></div>
    </div>

    {% for folder in wiki_folders %}
        <br>
        <div class="card">
            <div class="card-body">
                <a href="{% url 'wiki folder' folder.id %}">
                    <i class="bi bi-folder"></i>
                    {{ folder.name }}
                </a>
            </div>
        </div>
    {% endfor %}
    {% for wiki in wikis %}
        <br>
        <div class="card">
            <div class="card-body">
                <a href="{% url 'wiki page' wiki.id %}">
                    <i class="bi bi-file-text"></i>
                    {{ wiki.title }}
                </a>
            </div>
        </div>
    {% endfor %}


{% endblock %}