{% extends "base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'wiki/style.css' %}">
    <h1>
        <a class="header-link" href="{% url 'wiki home' %}">
            <i class="bi bi-newspaper"></i>
            Wiki
        </a>
    </h1>

    <p>
        <figcaption class="blockquote-footer">
            In order to maintain better organization, it's recommended that we limit the number of items in each folder to ten. For instance, if there are more than ten items in a particular folder "folder or wiki", we should consider grouping them and moving them to a more appropriately categorized folder. This approach not only prevents over-organization but also encourages timely grouping of items, without waiting for them to accumulate beyond ten.
        </figcaption>
    </p>
    </br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i> 
                <div style="padding-left: 10px">
                    {{ message }}
                </div>
            </div>
            </br>
        {% endfor %}
    {% endif %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb text-bg-light p-3">
            <li class="breadcrumb-item">
                {% if trail|length == 0 %}
                    <span class="text-secondary">Home</span>
                {% else %}
                    <a href="{% url 'wiki home' %}">Home</a>
                {% endif %}
            </li>
            {% for key,value in trail.items reversed %}
                <li class="breadcrumb-item">
                    {% if forloop.last %}
                        <span class="text-secondary">{{value }}</span>
                    {% else %}
                        <a href="{% url 'wiki folder' key %}">
                            {{value }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-4">
            <form action="{% url 'wiki search' %}" method="get">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control" name="search" placeholder="Search" aria-label="Search">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
      <div class="col-md-8"></div>
    </div>

    <br/>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Options
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'wiki create' folder_id %}">Create new Wiki</a></li>
            <li><a class="dropdown-item" href="{% url 'folder create' folder_id %}">Create new Folder</a></li>
            {% if folder_id != 0 %}
                <li><a class="dropdown-item" href="{% url 'folder edit' folder_id %}">Edit Current Folder</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="clearfix"></div>
    {% for folder in wiki_folders %}
        <div class="card float-md-start m-2">
            <div class="card-body">
                <a href="{% url 'wiki folder' folder.id %}" class="text-decoration-none">
                    <i class="bi bi-folder"></i>
                    {{ folder.name }}
                </a>
            </div>
        </div>
    {% endfor %}
    {% for wiki in wikis %}
        <div class="card float-md-start m-2">
            <div class="card-body">
                <a href="{% url 'wiki page' wiki.id %}" class="text-decoration-none">
                    <i class="bi bi-file-text"></i>
                    {{ wiki.title }}
                </a>
            </div>
        </div>
    {% endfor %}
    <div class="clearfix"></div>


{% endblock %}