{% extends "base.html" %}

{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'wiki/style.css' %}">
    <h1>
        <a class="header-link"  href="{% url 'wiki home' %}">
            <i class="bi bi-newspaper"></i>
            Wiki
        </a>
    </h1>
    <br><br>

    <div class="text-bg-light p-3">
        <a href="{% url 'wiki folder' wiki.folder_id %}">
            Back
        </a>
    </div>
    <br>
    {% if wiki.is_updating %}   
    <div class="alert alert-warning d-flex align-items-center justify-content-between" role="alert">
        <div>
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            Sorry, you are unable to edit this page at the moment. It appears that someone has recently made changes and those changes require approval before they can be implemented. Please take a moment to review the suggested changes and approve them if they meet your standards. Thank you for your understanding!
        </div>
        {% if archive.created_by != current_user.id %} 
        <a href="{% url 'wiki_review' archive.id %}" class="btn btn-primary">Review</a>
        {% endif %}
    </div>
    {% endif %}
    <br>
    <form action="{% url 'wiki edit' wiki.id %}" method="post">
        {% csrf_token %}
        {{ formset|crispy }}
        <br>
        <div class="row justify-content-between">
            <div class="col-1 d-grid">
                {% if not wiki.is_updating %}  
                <a id="confirm" class="btn btn-danger" href="{% url 'wiki delete' wiki.id %}" role="button">
                    Delete
                </a>
                {% endif %}
            </div>
            <div class="col-1 d-grid">
                <button type="submit" class="btn btn-primary"
                {% if wiki.is_updating %}
                    disabled
                {% endif %}
                >
                    Submit
                </button>
            </div>
        </div>
    </form>    
    <br><br>

    <script>
        const verify = document.getElementById("confirm");

        verify.addEventListener("click", function(event) {
            event.preventDefault();
            if (confirm("Are you sure you wan't to Delete {{ wiki.title }}?")) {
                window.location.href = this.href;
            }
        });
    </script>
{% endblock %}