{% extends "base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'wiki/style.css' %}">
    <h1>
        <a class="header-link"  href="{% url 'wiki home' %}">
            <i class="bi bi-newspaper"></i>
            Wiki
        </a>
    </h1>
    <br><br>

    <div class="text-bg-light p-3">
        <a href="{% url 'wiki folder' folder_id %}">
            Back
        </a>
    </div>
    <br><br>

    <form action="{% url 'wiki insert' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Folder</label>
            <select class="form-select" name="folder" aria-label="Default select example">
                <option value="0">Root Folder</option>
                {% for folder in wiki_folders %}
                    <option value="{{ folder.id }}" {% if folder.id == folder_id %}selected{% endif %}>
                        {{ folder.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea class="form-control" name="content" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}