{% extends "base.html" %}

{% block content %}
  {% load crispy_forms_tags %}

  <form action="{% url 'setting-edit' %}" method="post">
    {% csrf_token %}
    {{ formset|crispy }}
    <div class="mb-3">
      <label class="form-label">Parent</label>
      <select class="form-select" name="parent">
          <option value="0">----</option>
          {% for parent in parents %}
              <option value="{{ parent.user_id }}" {% if parent.user_id == user_setting.parent_id %}selected{% endif %}>
                  {{ parent.firstname }} {{ parent.middlename }} {{ parent.lastname }}
              </option>
          {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>  
{% endblock %}